<script lang="ts">
	import type { FrontendSession } from '../lib/stores/Session';
	import { activeSession } from '../lib/stores/Session';

	import Header from './Header.svelte';
	import Login from './Login.svelte';
	import Grid from './Grid.svelte';
	import Movies from './Movies.svelte';
	import SidebarMovie from './SidebarMovie.svelte';
	import type { BackendEvent } from '$lib/api/BackendEvent';
	import type { Movie } from '$lib/api/Movie';

	let session: FrontendSession | undefined = undefined;

	activeSession.subscribe((value) => {
		session = value;
	});

	let movies: Movie[] = [];

	function onWebSocketConnect(event: CustomEvent) {
		const data: string | undefined = event.detail.data;
		const connection: WebSocket | undefined = event.detail.connection;
		if (!data || !connection) return;

		const backendEvent = JSON.parse(data) as BackendEvent;
		switch (backendEvent.type) {
			case 'Session':
				activeSession.set({
					username: backendEvent.username.slice(),
					apiKey: backendEvent.api_key.slice(),
					connection: connection
				});
				break;
			case 'Movies':
				movies = backendEvent.movies;
				break;
		}
	}
</script>

{#if session === undefined}
	<Login on:webSocketConnect={onWebSocketConnect} />
{:else}
	<Grid class="layout">
		<Header class="header" />
		<Movies bind:movies />
		<SidebarMovie />
	</Grid>
{/if}
