<script lang="ts">
	export let onClick: { (): Promise<void> };
	export let text = 'button';
</script>

<button class={$$props.class} on:click|preventDefault={onClick}>{text}</button>

<style lang="scss">
	button {
		background-color: #767b91;
		font-size: 16pt;
		color: white;

		// For whatever reason we need it to be 102% instead of 100% so that is as wide as other
		// elements at 100%.
		width: 102%;
		margin: 0px;
		border-radius: 5px;
		text-align: center;
		border: none;

		&:hover {
			color: black;
			transition: color 0.2s;
		}

		&:active {
			background-color: #f72585;
		}
	}
</style>
