<script lang="ts">
	import { activeSession, type FrontendSession } from '../lib/stores/Session';
	import Grid from './Grid.svelte';

	let session: FrontendSession | undefined = undefined;

	activeSession.subscribe((value) => {
		session = value;
	});

	async function onLogout() {
		session?.connection.close(1000);
		activeSession.set(undefined);
	}
</script>

<nav class="header {$$props.class}">
	<Grid class="header-grid">
		<div />
		<button on:click={onLogout}> Logout </button>
	</Grid>
</nav>

<style lang="scss">
	.header {
		:global(.header-grid) {
			grid-template-columns: 10fr 1fr;
			grid-template-rows: fr;
		}

		background-color: #3c3c3c;
		margin-bottom: 10px;
	}

	button {
		margin: 4px;
	}
</style>
