<script lang="ts">
	import Button from './Button.svelte';
	import type { FrontendEvent } from '../lib/api/FrontendEvent';

	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher<{
		webSocketConnect: { data: string; connection: WebSocket };
	}>();
	let username: string | undefined = undefined;
	let password: string | undefined = undefined;
	let connection: WebSocket | undefined = undefined;

	async function onClick() {
		if (connection) {
			connection.close(
				// Normal close of a websocket connection as defined by
				// https://www.rfc-editor.org/rfc/rfc6455.html#section-7.4.1
				1000
			);
			connection = undefined;
		}
		if (username === undefined || password === undefined) return;

		const credentials: FrontendEvent = {
			type: 'LoginCredentials',
			username: username.slice(), // slice makes a copy
			password: password.slice()
		};

		const protocol = document.location.protocol === "http:" ? "ws" : "wss";
		const port = document.location.port !== "" ? `:${document.location.port}` : "";

		connection = new WebSocket(`${protocol}://${document.location.hostname}${port}/ws/`);
		connection.onopen = async () => {
			if (!connection) {
				console.error('The websocket connection was already closed.');
				return;
			}
			connection.send(JSON.stringify(credentials));
		};
		connection.onmessage = async (event: MessageEvent) => {
			if (!connection) {
				console.error('The websocket connection was already closed.');
				return;
			}
			dispatch('webSocketConnect', {
				data: event.data,
				connection: connection
			});
		};
		username = undefined;
		password = undefined;
	}
</script>

<main>
	<form>
		<!-- svelte-ignore missing-declaration -->
		<h1>Welcome to Mendia {APP_VERSION}</h1>
		<div class="input">
			<div>Username</div>
			<input type="text" bind:value={username} />
		</div>
		<div class="input">
			<div>Password</div>
			<input type="password" bind:value={password} />
		</div>
		<div class="parent">
			<Button class="button" {onClick} text={'Sign in'} />
		</div>
	</form>
</main>

<style lang="scss">
	.input {
		position: relative;
		div {
			position: absolute;
			font-size: small;
			margin: 2pt;
		}
		input {
			width: 100%;
			margin: 0px;
			border-radius: 5px;
			margin-bottom: 10pt;
			height: 40pt;
			font-size: large;
			border: none;
			background-color: #e1e5ee;
		}

		input:focus {
			box-sizing: border-box;
			border: 2px solid #7209b7;
		}
	}

	main {
		height: 100%;
		width: 100%;
		margin: 0px;
		justify-content: center;
		align-items: center;
		background-color: black;
	}

	form {
		margin: 0px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		min-width: 230pt;
	}

	h1 {
		width: 100%;
		margin: 0px;
		margin-bottom: 15pt;
		height: 30pt;
		border-radius: 5pt;
		text-align: center;
		color: white;
	}

	.parent :global(.button) {
		height: 40pt;
	}
</style>
