<script lang="ts">
	import type { Movie } from '$lib/api/Movie';

	export let movie: Movie;
</script>

<div>
	{movie.title} - {movie.resolution}
</div>

<style lang="scss">
	div {
		border-radius: 5pt;
		margin: 5pt;
		aspect-ratio: 1/1;
		background-color: #767b91;
		text-align: center;
	}
</style>
