<script lang="ts">
	import { onMount } from 'svelte';
	import { activeSession } from '$lib/stores/Session';
	import type { Movie } from '$lib/api/Movie';
	import type { FrontendSession } from '$lib/stores/Session';
	import type { FrontendEvent } from '$lib/api/FrontendEvent';
	import Grid from './Grid.svelte';
	import MovieElement from './Movie.svelte';

	export let movies: Movie[] = [];

	let session: FrontendSession | undefined = undefined;

	activeSession.subscribe((value) => {
		session = value;
	});

	onMount(async () => {
		if (!session) return;
		const msg: FrontendEvent = {
			type: 'GetMovies',
			user: session?.username
		};
		session.connection.send(JSON.stringify(msg));
	});
</script>

<div class="container">
	<Grid class="moviewall">
		{#each movies as movie}
			<MovieElement {movie} />
		{/each}
	</Grid>
</div>

<style lang="scss">
	.container {
		background-color: #3c3c3c;

		:global(.moviewall) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		overflow: scroll;
	}
</style>
